.detailContainer {
  margin-left: 1.5rem;
}

.routineMovements h3 {
  font-size: 2rem;
  text-align: start;
  border-bottom: 1px solid #fffafb;
}

.routineMovements {
  border-bottom: 1px solid #fffafb;
}
.movementList {
  list-style: none;
}

.itemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0;
}

.movementListItem {
  margin-right: 1.5rem;
}

.statBtn {
  margin-top: 0;
  padding: 4px 10px;
}

.addMovementBtn {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  display: inline-block;
  background-color: #682d63;
}
