// globals
$primary: #339989;
$secondary: #7de2d1;
$white: #fff;
$gray: #cfdbd5;
$dark: #131515;
$light-dark: #2b2c28;
$danger: #d90429;

.form {
  color: $dark;
  background: $light-dark;
  border-radius: 10px;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin: 1rem 0 1rem 0;
}

.form.form__field-array.form__field-array--session {
  width: 29rem;
}

.form.form__field-array.form__field-array--exercises {
  width: 28rem;
}

.form__subtitle {
  color: #fffafb;
  margin-top: 1rem;
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0.5rem 0;
}
.form__group.form__group--min-max {
  flex-direction: row;
  justify-content: flex-end;
}

.form__label.form__label--min-max {
  width: 33.3%;
}
.form__input.form__input--min-max {
  width: 20.3%;
}

.form__label {
  width: 100%;
  text-align: left;
  color: #fffafb;
}

.form__input {
  width: 97.5%;
  padding: 10px 5px;
  border: solid 1px $light-dark;
  border-radius: 8px;
  background: $gray;
  color: $dark;
  margin: 8px 5px;
  font-size: 1.2rem;
}

.form__input.form__input--select {
  width: 95%;
  &[multiple="multiple"] {
    color: $dark;
    height: auto;
    border: solid 1px $light-dark;
    border-radius: 3px;
  }
}
.form__button-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button.form__btn--delete {
  background: $danger;
}
.button.form__btn--submit {
  width: 80%;
  height: 2.5rem;
}

.form__err-msg {
  color: $danger;
}
