.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #2b2c28;
  letter-spacing: 2px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.navbar li,
.navbar a,
.navbar .title {
  font-weight: 500;
  font-size: 18px;
  color: #fffafb;
  background-color: #2b2c28;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(19, 21, 21, 1);
}

.title {
  cursor: pointer;
}

.navLinks {
  list-style-type: none;
}
.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}
.navLinks li a {
  transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
  color: #7de2d1;
}
