$primary: #339989;
$secondary: #7de2d1;
$white: #fff;
$gray: #cfdbd5;
$dark: #131515;
$light-dark: #2b2c28;
$danger: #d90429;

.pageframe {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%; 
  margin-top: 1rem;
}