$primary: #339989;
$secondary: #7de2d1;
$white: #fff;
$gray: #cfdbd5;
$dark: #131515;
$light-dark: #2b2c28;
$danger: #d90429;

.detailContainer {
  margin-left: 1.5rem;
  color: $white;
}

.routineMovements h3 {
  font-size: 2rem;
  text-align: start;
  border-bottom: 1px solid $white;
}

.routineMovements {
  border-bottom: 1px solid $white;
}
.movementList {
  list-style: none;
}

.itemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0;
}

.movementListItem {
  margin-right: 1.5rem;
}

.statBtn {
  margin-top: 0;
  padding: 4px 10px;
}

.addMovementBtn {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  display: inline-block;
  background-color: #682d63;
}
